.menu{
    width: 100%;
    border: 1px solid black;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: rgb(30, 30, 44);
}

.links{
    display: flex;
}
ul{
    list-style: none;
    text-decoration: none;
    
}

.header{
    display: flex;
    justify-content: space-between;
    width: 800px;

}

.header__link{
    color: white;
    text-decoration: none;
}