.App {
  text-align: center;
}
.title{
  display: flex;
  text-align: center;
  justify-content: center;
  width: 800px;
  height: 50px;
  border:  1px solid black;
}

.wordTitle,
.transcriptionTitle,
.translationTitle,
.tagTitle{
  width: 200px;
}

.card{
  display: flex;
  align-items: center;
}
.font{
  color: white;
}
.header{
  display: flex;
  flex-direction: column;
}
.links{
  display: flex;
  justify-content: space-evenly;
}
.arrowLeft,
.arrowRight{
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: rgb(152, 151, 175);
  border: none;
  box-shadow: 5px 5px 5px rgb(61, 59, 95);
}
.wrap{
  margin-top: 100px;
}