.App {
  text-align: center;
}
.title{
  display: flex;
  width: 800px;
  height: 50px;
  border:  1px solid black;
}
.wordTitle,
.transcriptionTitle,
.translationTitle,
.tagTitle{
  width: 200px;
}

.card{
  display: flex;
  align-items: center;
}
.arrowLeft,
.arrowRight{
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: rgb(182, 175, 175);
  border: none;
}