.App {
  text-align: center;
}
.title{
  display: flex;
  text-align: center;
  justify-content: center;
  width: 800px;
  height: 50px;
  border:  1px solid black;
}

.wordTitle,
.transcriptionTitle,
.translationTitle,
.tagTitle{
  width: 200px;
}
.card{
  display: flex;
  align-items: center;
}

.font{
  color: white;
  list-style: none;
  text-decoration: none;
}
.englishFont{
  font-size: 40px;
  color: white;
  height: 50px;
}
.header{
  display: flex;
  flex-direction: column;
}
.links{
  display: flex;
  justify-content: space-evenly;
  height: 50px;
}
.arrowLeft,
.arrowRight{
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: rgb(118, 117, 142);
  border: none;
  box-shadow: 5px 5px 5px rgb(61, 59, 95);
}
.wrap{
  margin-top: 200px;
}